/* App.module.css */

.App {
    background-color: var(--color-bg);
    width: 100%;
    min-height: 100vh; /* Asegura que cubra toda la altura de la ventana */
    overflow-x: hidden; /* Evita que el contenido de `.App` desborde horizontalmente */
  }